<div class="content" ng-controller="AnaliseRepercussaoGeralController as analise">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Processos</p>
					</li>
					<li><a href="#" class="active">Análise de Repercussão Geral</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div tarefa-actions processo="analise.tarefa.processoWorkflowId" tarefa="analise.tarefa" />
    	<form>
            <div class="row">
            	<div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Número do processo: {{analise.processo.identificacao}}</h5>
                            <h6>Essa é apenas o número <strong>de identificação da processo.</strong>.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title=""
							data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Tese</h5>
	                   		<h6>Informe o tipo de tese e o seu número.</h6>
						</div>
	               		<div class="card-description">
							<div class="input-group">
								<div class="input-group-btn">
									<button type="button" class="btn btn-success" ng-model="analise.tipoTese">{{analise.tipoTese.descricao}}</button>
									<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id='btnTeseDropDown'>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li ng-repeat="tese in analise.tiposTeses">
											<a href="#" ng-click="analise.selecionarTipoTese(tese)" id="optTese">{{tese.descricao}}</a>
										</li>
									</ul>
								</div>
								<input type="text" class="form-control" ng-model="analise.numeroTese" placeholder="Digite o número tese" id="inputNumeroTese"
										style="min-height: 36px; border-radius: 0; border-left-width: 0px; border-left-color: none;" ng-keypress="($event.charCode==13)?analise.consultarTese():return">
							</div>							
	 					</div>
	 					
	 					<div class="auto-overflow widget-11-2-table">
							<table class="table table-condensed table-hover" ng-show="analise.teses.length > 0">
								<thead>
		                            <tr>
		                                <th>Descrição</th>
		                            </tr>
		                        </thead>
								<tbody>
									<tr ng-repeat="tese in analise.teses">
										<td class="font-montserrat fs-12 col-md-12">{{tese.descricao}}</td>
										<td class="text-center b-l b-dashed b-grey col-md-4"><span class="hint-text small"><a href="#" ng-click="analise.removerTese(tese)">Remover</a></span></td>
									</tr>
								</tbody>
							</table>
						</div>
	 					
	 				</div>
				</div>
				<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title=""
							data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Pesquisa de assuntos</h5>
	                   		<h6>Selecione aqui os assuntos que serão anexados ao processo.</h6>
						</div>
	               		<div class="card-description">
							<div class="form-group form-group-default">
								<input type="hidden" id="assunto" name="assunto" ng-model="analise.assunto" placeholder="Código ou descrição" style="width: 100%" ui-select2="analise.select2Options"/>
							</div>
							<div class="auto-overflow widget-11-2-table">
								<table class="table table-condensed table-hover" ng-show="analise.assuntos.length > 0">
									<thead>
			                            <tr>
			                                <th>Código</th>
			                                <th>Descrição</th>
			                                <th>Ações</th>
			                            </tr>
			                        </thead>
									<tbody>
										<tr ng-repeat="ass in analise.assuntos">
											<td class="font-montserrat fs-12 col-lg-12">{{ass.codigo}}</td>
											<td class="font-montserrat fs-12 col-lg-12">{{ass.descricao}}</td>
											<td class="text-center b-l b-dashed b-grey col-lg-2"><span class="hint-text small"><a href="#" ng-click="analise.removerAssunto(ass)">Remover</a></span></td>
										</tr>
									</tbody>
								</table>
							</div>
	 					</div>
	 				</div>
				</div>
			</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%" ng-show= "analise.apto == false">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Observação para o motivo</h5>
                            <h6>Informe uma observação para o <b>motivo selecionado</b>.</h6>
                        </div>
                        <div class="card-description">
                            <input type= "text" class="form-control" id="obsMotivo" ng-model="analise.obsMotivo" placeholder="Informe a observação" 
                            	ng-disable="analise.apto == true"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Observação da Analise</h5>
                            <h6>Informe uma observação da <b>análise do processo</b>.</h6>
                        </div>
                        <div class="card-description">
                            <input type="text" class="form-control" id="observacao" ng-model="analise.observacao" placeholder="Informe a observação"></input>
                        </div>
                    </div>
                </div>
            </div>          
	       
            <p>
                <action-executor id="analisar-repercussao-geral" resources="analise.recursos" fn-validate="analise.validar"
	 				fn-result="analise.completar" btn-class="btn btn-complete btn-cons m-t-10" enable="analise.tarefa.dono" />
            </p>
	  	</form>
    </div>
</div>