<div class="content" ng-controller="RevisaoProcessosInaptosController as revisao">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Processos</p>
					</li>
					<li><a href="#" class="active">Revisão</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div tarefa-actions processo="revisao.tarefa.processoWorkflowId" tarefa="revisao.tarefa" />
    	<form>
            <div class="row">
            	<div class="col-md-4">
                    <div class="card share" data-social="item" style="width: 100%" >
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Aptidão</h5>
                            <h6>Classificação do processo.</h6>
                        </div>
                        <div class="card-description">
							<div class="bootstrap-switch" id='classificacao'>
			        			<input data-bs-switch data-ng-model="revisao.apto" type="checkbox"
			        				data-switch-on-text="Apto" data-switch-off-text="Inapto"
			        				data-switch-on-color="success" data-switch-off-color="danger" data-switch-size="small" />
                			</div>
           				</div>
                    </div>
	            </div>	
                <div class="col-md-8">
                    <div class="card share" data-social="item" style="width: 100%" ng-show="revisao.apto == false">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Motivo</h5>
                            <h6>Selecione o motivo da inaptidão.</h6>
                        </div>
                        <div class="card-description">
							<select ui-select2 id=motivo ng-model="revisao.motivoId" data-placeholder="Selecione o motivo Sugerido" style="width: 100%;" ng-disable="revisao.apto == true">
								<option value=""></option>
								<option ng-repeat="motivo in revisao.motivos" value="{{motivo.id}}">{{motivo.descricao}}</option>
							</select>
						</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%" ng-show= "revisao.apto == false">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Observação para o motivo</h5>
                            <h6>Informe uma observação para o <b>motivo selecionado</b>.</h6>
                        </div>
                        <div class="card-description">
                            <input type= "text" class="form-control" id="obsMotivo" ng-model="revisao.obsMotivo" placeholder="Informe a observação" 
                            	ng-disable="revisao.apto == true"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Observação da Analise</h5>
                            <h6>Informe uma observação da <b>análise do processo</b>.</h6>
                        </div>
                        <div class="card-description">
                            <input type="text" class="form-control" id="obsAnalise" ng-model="revisao.obsAnalise" placeholder="Informe a observação"></input>
                        </div>
                    </div>
                </div>
            </div>          
	       
            <p>
                <action-executor id="revisar-processo-inapto" resources="revisao.recursos" fn-validate="revisao.validar"
	 				fn-result="revisao.completar" btn-class="btn btn-complete btn-cons m-t-10" enable="revisao.tarefa.dono" />
            </p>
	  	</form>
    </div>
</div>
