<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Petições</p>
					</li>
					<li><a href="#" class="active">Assinatura do Documento de Devolução</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
        <div class="row" ng-show="peticoes.length > 0">
			<div class="col-md-12">
				<div class="card share" data-social="item" style="width: 100%">
	                <div class="circle" data-toggle="tooltip" title=""
	                    data-container="body" data-original-title="Label"></div>
	                <div class="card-header clearfix">
	                    <h5>Petições</h5>
	            	</div>
	                <div class="card-description">
	                    <div class="auto-overflow widget-11-2-table">
	                        <table class="table table-condensed table-hover">
   		                        <thead>
		                            <tr>
		                            	<th style="width: 10px;"><input type="checkbox" ng-model="checkToggle" ng-change="toggleCheck()"></th>
		                                <th width="30%">Petição</th>
		                                <th width="30%">Documento de Devolução</th>
		                                <th width="20%">Arquivo Original</th>
		                                <th width="20%">Progresso</th>
		                            </tr>
		                        </thead>
	                            <tbody>
	                                <tr ng-repeat="peticao in peticoes" ng-init="peca=pecaDocumentoDevolucao(peticao)">
	                                	<td><input type="checkbox" checklist-model="selecao.peticoes" checklist-value="peticao"></td>
	                                    <td class="font-montserrat fs-12 col-lg-12">{{peticao.identificacao}}</td>
	                                    <td class="font-montserrat fs-12 col-lg-12">{{peca.descricao}}</td>
                                        <td class="font-montserrat fs-12 col-lg-12"><a ng-href="{{urlConteudo(peca)}}" target="_blank">Visualizar</a></td>
	                                    <td class="font-montserrat fs-12 col-lg-12">
	                                    	<div class="progress" style="margin-bottom: 0;" ng-show="peticao.progress() > 0">
		                                    	<div class="progress-bar" role="progressbar" ng-style="{ 'width': peticao.progress() + '%' }"></div>
		                                	</div>
		                                </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
	                    <div>
	                    	<div class="progress" style="margin-bottom: 0;">
		                    	<div class="progress-bar" role="progressbar" ng-style="{ 'width': progressoTotal() + '%' }"></div>
		                    </div>
	                    </div>
		            </div>
           		</div>
			</div>
		</div>
		<br />
		<p>
			<button id="botaoFinalizarAssinaturaDevolucao" type="button" class="btn btn-info btn-s" ng-click="assinar()">
				<span class="glyphicon glyphicon-asterisk"></span> Assinar
			</button>
		</p>
	</div>
</div>
