# --------------------------------
# Mac OS
.DS_Store
.project

# ---- Diretório do workspace do eclipse ----
Servers

# Microserviços, que são repositórios independentes
plataforma
autuacao

stfca.pem
build.log
build-parallely.log

.gradle
.settings