# --------------------------------
# Mac OS
.DS_Store
.project

# --------------------------------
# Peticionamento

# Eclipse
autuacao/peticionamento/.settings/
autuacao/peticionamento/.classpath
autuacao/peticionamento/.project

# Gradle
autuacao/peticionamento/.gradle
autuacao/peticionamento/build
autuacao/peticionamento/bin
autuacao/peticionamento/data

# --------------------------------
# Recebimento

# Eclipse
autuacao/recebimento/.settings/
autuacao/recebimento/.classpath
autuacao/recebimento/.project

# Gradle
autuacao/recebimento/.gradle
autuacao/recebimento/build
autuacao/recebimento/bin
autuacao/recebimento/data

# --------------------------------
# Autuacao

# Eclipse
autuacao/autuacao/.settings/
autuacao/autuacao/.classpath
autuacao/autuacao/.project

# Gradle
autuacao/autuacao/.gradle
autuacao/autuacao/build
autuacao/autuacao/bin
autuacao/autuacao/data

# --------------------------------
# Distribuicao

# Eclipse
autuacao/distribuicao/.settings/
autuacao/distribuicao/.classpath
autuacao/distribuicao/.project

# Gradle
autuacao/distribuicao/.gradle
autuacao/distribuicao/build
autuacao/distribuicao/bin
autuacao/distribuicao/data

# --------------------------------
# Core

# Eclipse
plataforma/core/.settings/
plataforma/core/.classpath
plataforma/core/.project

# Gradle
plataforma/core/.gradle
plataforma/core/build
plataforma/core/bin
plataforma/core/data

# --------------------------------
# Services

# Eclipse
plataforma/services/.settings/
plataforma/services/.classpath
plataforma/services/.project

# Gradle
plataforma/services/.gradle
plataforma/services/build
plataforma/services/bin
plataforma/services/data

# --------------------------------
# Discovery

# Eclipse
plataforma/discovery/.settings/
plataforma/discovery/.classpath
plataforma/discovery/.project

# Gradle
plataforma/discovery/.gradle
plataforma/discovery/build
plataforma/discovery/bin
plataforma/discovery/data

# --------------------------------
# Gateway

# Eclipse
plataforma/gateway/.settings/
plataforma/gateway/.classpath
plataforma/gateway/.project

# Gradle
plataforma/gateway/.gradle
plataforma/gateway/build
plataforma/gateway/bin
plataforma/gateway/data

# --------------------------------
# UI

# Node
plataforma/ui/node_modules
plataforma/ui/node

# Bower
plataforma/ui/bower_components

# Gulp
plataforma/ui/.tmp
plataforma/ui/dist
