<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li><a href="#" class="active">Configurar Permissoes</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container-fluid container-fixed-lg">
		<form ng-submit="vm.configurarPermissoes()">
			<div class="row">
				<div class="col-sm-12">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Selecione o usuário</h5>
						</div>
						<div class="card-description">
	                        <div class="auto-overflow widget-11-2-table">
	                        	<div class="col-sm-8">
	                            	<pesquisa modelo="vm.usuario" configuracao="vm.configuracaoPesquisaUsuario" class="full-width"/>
								</div>
								
								<div class="col-sm-4">
									<div class="checkbox check-info">
										<input type="checkbox" id="filtroUsuarios" ng-model="vm.informacoesDeTela.filtroUsuariosSetor">
										<label for="filtroUsuarios">Apenas usuários do meu setor</label>
									</div>
								</div>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-show="vm.passo === 2">
				<div class="col-sm-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Selecione os grupos</h5>
						</div>
						<div class="card-description">
	                        <div class="auto-overflow widget-11-2-table">
	                            <div ng-if="this.possuiErros">
	                            	<div class="alert alert-danger" role="alert">Ocorreu um erro ao recuperar os grupos do usuário</div>
	                            </div>
	                            
	                            <div class="row" ng-if="!this.possuiErros">
	                            	<picklist 
	                            		left-list-rows="vm.gruposRestantes" 
	                            		display-fn="vm.formatarNomeGrupo(data)"
	                            		right-list-rows="vm.gruposUsuario"
	                            		to-right-callback="vm.gruposToRight(data)"
	                            		to-left-callback="vm.gruposToLeft(data)"
	                            		list-width="200"
	                            		show-move-all-buttons />
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>	
			
				<div class="col-sm-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Selecione os papeis</h5>
						</div>
						<div class="card-description">
	                        <div class="auto-overflow widget-11-2-table">
	                        	<div ng-if="this.possuiErros">
	                            	<div class="alert alert-danger" role="alert">Ocorreu um erro ao recuperar os papeis do usuário</div>
	                            </div>
	                            
	                            <div ng-if="!this.possuiErros">
	                            	<picklist 
	                            		left-list-rows="vm.papeisRestantes" 
	                            		display-fn="vm.formatarNomePapel(data)"
	                            		right-list-rows="vm.papeisUsuario"
	                            		to-right-callback="vm.papeisToRight(data)"
	                            		to-left-callback="vm.papeisToLeft(data)"
	                            		list-width="200"
	                            		show-move-all-buttons />
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>		
			</div>
			
			<div class="row" ng-show="vm.passo === 2">
				<div class="col-sm-12 text-center">
					<div class="form-group">
						<button class="btn btn-info btn-cons m-t-10" type="submit">Alterar permissões</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>