<div data-ng-repeat="linha in layout.linhas">
	<div class="row">
		<div data-ng-repeat="coluna in linha.colunas">
			<div data-ng-class="coluna.columnClasses">
				<div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle ng-scope" pg-portlet="" progress="circle" on-refresh="refreshTest('.widget-11-2')">
					<div class="panel-heading">
						<div class="panel-title">{{coluna.dashlet.descricao}}</div>
						<div class="panel-controls">
							<ul>
								<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a></li>
								<li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a></li>
								<li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a></li>
							</ul>
						</div>
					</div>
					<div data-dashlet="coluna.dashlet.nome" class="dashlet"></div>
				</div>
			</div>
		</div>
	</div>
</div>