<!-- START WIDGET -->
<div class="actions-wrapper">
	<actions resources="selecao" groups="tarefa" btn-class="btn-default" />
</div>
<div class="auto-overflow widget-11-2-table">
	<table class="table table-condensed table-hover">
		<tbody>
			<tr ng-repeat="tarefa in tarefasDosPapeis">
				<td class="col-lg-1">
					<input type="checkbox" checklist-model="selecao" checklist-value="tarefa">
				</td>
				<td class="font-montserrat fs-12 col-lg-9">
				   <a href="#" ng-click="go(tarefa)">{{tarefa.descricao}}</a>
				</td>
				<td class="text-center b-l b-dashed b-grey col-lg-2">
					<i ng-if="tarefa.responsavel != ''" class="fa fa-user" data-toggle="tooltip" title="{{tarefa.responsavel}}"></i>
				</td>
				<td class="text-right b-l b-dashed b-grey col-lg-2">
					<span class="hint-text small">#{{tarefa.metadado.descricao}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- END WIDGET -->
