<div>
	<div style="position: absolute; top: 0px; left: 272px; z-index: -1; width: 78px; height: 84px;">
		<img src="../../theme/assets/img/brasao.png" id="brasao" style="width: 78px; height: 84px;">
	</div>
	<div style="clear: both; float: none; height: 1px; margin: 0px; padding: 0px; overflow: hidden;"></div>
	<p style="text-align: left; padding-left: 133px; margin-top: 89px; margin-bottom: 0px; font: bold 27px 'Arial'; line-height: 32px;">Supremo
		Tribunal Federal</p>
	<p style="text-align: left; margin-top: 183px; margin-bottom: 0px; font: bold 16px 'Arial'; line-height: 19px;">Assunto:</p>
	<p style="text-align: left; padding-left: 76px; margin-top: 83px; margin-bottom: 0px; font: 16px 'Arial'; line-height: 18px;">Senhor(a)
		Secretário(a),</p>
	<p style="text-align: justify; padding-right: 56px; margin-top: 34px; margin-bottom: 0px; text-indent: 76px; font: 16px 'Arial'; line-height: 27px;">De
		ordem, nos termos da Resolução STF n. 522, de 8/4/2014, 
		encaminho/devolvo a petição acima mencionada e os documentos que a acompanham, 
		em razão do protocolo equivocado nesta Corte.</p>
	<p style="text-align: left; padding-left: 76px; margin-top: 32px; margin-bottom: 0px; font: 16px 'Arial'; line-height: 18px;">Atenciosamente,</p>
</div>
