<p contenteditable="false" style="text-align: center;"><img alt="" src="/theme/custom/img/brasao_colorido.png" style="width: 78px; height: 84px;"></p>
<p contenteditable="false" class="stf-titulo-cursivo">Supremo Tribunal Federal</p>
<p class="stf-estilo-padrao">Ofício n.&nbsp;</p>
<p class="stf-estilo-padrao" style="text-align: right;">02 de Fevereiro de 2016<br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><strong>Assunto:</strong>&nbsp;Devolve/encaminha Petição/STF n.&nbsp;
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao stf-indent1">Senhor(a) Secretário(a),</p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao stf-indent1">De ordem, nos termos da Resolução STF n. 522, de 8/4/2014, encaminho/devolvo a petição acima mencionada e os documentos que a acompanham, em razão do protocolo equivocado nesta Corte.</p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao stf-indent1">Atenciosamente,</p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao" style="text-align: center;">João Bosco Marcial de Castro<br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao"><br></p>
<p class="stf-estilo-padrao" style="text-align: center;">Ao(À) Senhor(a) Secretário(a) Judiciário(a) do Superior Tribunal de Justiça<br></p>