<div class="content">
	<div messages="" api="messages.api"></div>
	<form id="formDividir" class="form-horizontal">
		<div class="form-group">
			<div class="col-md-2">
				<label for="sequencialPeca" class="control-label">Sequencial:</label> 
			</div>
			<div class="col-md-2">
	            <input type="text" class="form-control" id="sequencialPeca" ng-model="sequencialPeca" placeholder="Informe aqui"></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="tipoPeca" class="control-label">Tipo:</label> 
			</div>
			<div class="col-md-10">
	            <select ui-select2 id="tipoPeca" ng-model="tipoPeca" data-placeholder="Selecione um tipo de peça" style="width:58%;" autofocus>
					<option value=""></option>
					<option ng-repeat="tipoPeca in tiposPecas" value="{{tipoPeca.id}}">{{tipoPeca.descricao}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="descricaoPeca" class="control-label">Descrição:</label> 
			</div>
			<div class="col-md-10">
	            <input type="text" class="form-control" id="descricaoPeca" ng-model="descricaoPeca" placeholder="Informe a descrição da peça"></input>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label for="tipoPeca" class="control-label">Visibilidade:</label> 
			</div>
			<div class="col-md-6">
	            <select ui-select2  class="full-width" ng-model="visibilidade" placeholder="Selecione uma opção" required id="visibilidadeId">
					<option value=""></option>
					<option data-ng-repeat="visibilidade in visibilidades" value="{{visibilidade.id}}">{{visibilidade.descricao}}</option>
				</select>
			</div>
		</div>
	</form>
	<div align="center" class="modal-footer">
		<span>
	    	<action-executor id="editar-peca" resources="recursos" fn-validate="validar" fn-result="modal.close()" fn-error="tratarErro(error)" btn-class="btn btn-complete" description="Salvar" />
		</span>
		<button ng-click="modal.close()" class="btn btn-default">Cancelar</button>
	</div>
</div>