<div class="content" ng-controller="InserePecasController">
	<div class="container-fluid container-fixed-lg">
		<form id="taskForm" novalidate>
			<div class="row">
				<div class="col-md-12">
					 <div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Inclusão de Peças</h5>
						</div>
						<div class="card-description">
		                    <div nv-file-drop="" uploader="uploader">
	                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="force-pointer" data-ng-class="uploader.isHTML5 ? 'my-drop-zone' : 'my-drop-zone-single'" onclick="$('#idSelectFilePecas').click();">
	                            </div>
                        	</div> 
		                    <input  id="idSelectFilePecas" type="file" name="file" nv-file-select="" uploader="uploader" multiple  ng-class="uploader.isHTML5 ? 'invisible' : ''"/><br/>
	              		</div>
	              	</div>
				</div>
			</div>
			<div class="row">
		        <div class="col-md-12" style="margin-bottom: 40px">
			        <div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Lista de documentos</h5>
							<h6>Quantidade de documentos incluídos: {{ uploader.queue.length }}.</h6>
						</div>
						<div class="card-description">
		                    
		                </div>
					</div>
             	</div>
            </div>
            
            <table class="table" style="width: 400px;">
		                        <thead>
		                            <tr>
		                                <th>Título</th>
		                                <th>Descrição</th>
		                                <th ng-show="uploader.isHTML5">Tamanho</th>
		                                <th ng-show="uploader.isHTML5">Progresso</th>
		                                <th>Visibilidade</th>
		                                <th>Tipo de Peça</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="peca in pecas">
		                            	<td data-ng-click="visualizar(peca)" class="force-pointer">
		                            		<strong>{{ peca.fileItem.file.name }}</strong>
	                            		</td>
		                            	<td
		                            		<input type="text" />
		                            	</td>
		                                <td ng-show="uploader.isHTML5" nowrap>{{ peca.fileItem.file.size/1024/1024|number:2 }} MB</td>
		                                <td class="progress-row" ng-show="uploader.isHTML5" ng-class="{'upload-finished': peca.uploadFinished}">
		                                    <div class="progress" style="margin-bottom: 0;">
		                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': peca.fileItem.progress + '%' }"></div>
		                                    </div>
		                                </td>
		                                <td>
		                                    <select>
												 <option value=""></option>
												 <option value="Pendente de visualização">Pendente de visualização</option>
												 <option value="Público">Público</option>
											</select>
		                                </td>
		                                <td>
		                                    <select>
												 <option value=""></option>
												 <option data-ng-repeat="visibilidade in visibilidades" value="{{visibilidade}}">{{visibilidade}}</option>
											</select>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                    <div>
		                        <button type="button" class="btn btn-danger btn-s" ng-click="limparPecas()" ng-disabled="!uploader.queue.length">
		                            <span class="glyphicon glyphicon-trash"></span> Apagar tudo
		                        </button>
		                    </div>
            
			<br />
			<p>
				 
			</p>
		</form>
	</div>
</div>