<div class="content" ng-controller="OrganizaPecasController as organiza">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Processos</p>
					</li>
					<li><a href="#" class="active">Peças</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div tarefa-actions processo="organiza.peticao.processoWorkflowId" tarefa="tarefa" />
    	<form>
			<div class="row" ui-view></div>
			<div class="row">
            	<div class="col-md-12">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="card-header clearfix">
	                        <div class="pull-left">
	                        	<h5>Peças</h5>
	                        	<h6>Peças do processo</h6>
	                        </div>
	                        <div class="bootstrap-switch pull-right" id="classificacao">
				       			<input data-bs-switch data-ng-model="organiza.habilitado" type="checkbox" ng-change="organiza.atualizaEstado()"
				       				data-switch-on-text="Habilitado" data-switch-off-text="Desabilitado"
				       				data-switch-on-color="info" data-switch-off-color="warning" data-switch-size="small" />
	            			</div>
                        </div>
                        <div class="actions-wrapper">
							<actions resources="organiza.selecao.objetos" groups="peca" btn-class="btn-default" />
						</div>
                        <div class="card-description">
							<table datatable="ng" class="table" dt-options="organiza.dtOptions" id="tabelaPecas">
								<thead>
							        <tr>
							        	<th style="width: 10px;"><input type="checkbox" ng-model="organiza.checkToggle" ng-change="organiza.toggleCheck()"></th>
							            <th>ID</th>
							            <th>descricao</th>
							            <th>Numero Ordem</th>
							            <th>visibilidade</th>
							            <th>situação</th>
							        </tr>
							    </thead>
						        <tbody ui-sortable="organiza.sortableOptions" ng-model="organiza.processo.pecas">
							        <tr ng-repeat="peca in organiza.processo.pecas" ng-class='{"line-through": peca.situacao === "EXCLUIDA"}'>
							        	<td><input type="checkbox" checklist-model="organiza.selecao.objetos" checklist-value="organiza.buildSelectedObject(peca)"></td>
							            <td>{{ peca.sequencial }}</td>
							            <td>{{ peca.descricao }}</td>
							            <td>{{ peca.numeroOrdem }}</td>
							            <td>{{ peca.visibilidade }}</td>
							            <td>{{ peca.situacao }}</td>
							        </tr>
						        </tbody>
							</table>
							
           				</div>
                    </div>
	            </div>	
            </div>
			<br />
			<p>
				<action id="inserir-pecas" groups="novapeca" resources="[organiza.peticaoId]" btn-class="btn btn-cons m-t-10"></action>
				<action-executor id="organizar-pecas" resources="organiza.recursos" fn-validate="organiza.validar"
					fn-result="organiza.completar" btn-class="btn btn-complete btn-cons m-t-10" description="Concluir tarefa" enable="tarefa.dono">
				</action-executor>	
			</p>
		</form>
	</div>
</div>