<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-text" translate="TAREFAS.MINHAS-TAREFAS.MINHAS-TAREFAS">Minhas Tarefas</span>
    </div>
</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="Todas Tarefas" translate translate-attr-aria-label="TAREFAS.MINHAS-TAREFAS.TODAS-TAREFAS"
                   ng-class="{'selected':vm.showAllTasks}" ng-click="vm.resetFilters()">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-view-headline" class="s16"></md-icon>
                <span class="title" translate="TAREFAS.MINHAS-TAREFAS.TODAS-TAREFAS">Todas Tarefas</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="Minhas Tarefas" translate translate-attr-aria-label="TAREFAS.MINHAS-TAREFAS.MINHAS-TAREFAS"
                   ng-click="vm.toggleFilterWithEmpty('starred')"
                   ng-class="{'selected':vm.taskFilters.starred}">
            <md-icon md-font-icon="icon-star" class="s16"></md-icon>
            <span class="title" translate="TAREFAS.MINHAS-TAREFAS.MINHAS-TAREFAS">Minhas Tarefas</span>
        </md-button>

        <md-button class="item" aria-label="Priorizadas" translate translate-attr-aria-label="TAREFAS.MINHAS-TAREFAS.PRIORIZADAS"
                   ng-click="vm.toggleFilterWithEmpty('important')"
                   ng-class="{'selected':vm.taskFilters.important}">
            <md-icon md-font-icon="icon-alert-circle" class="s16"></md-icon>
            <span class="title" translate="TAREFAS.MINHAS-TAREFAS.PRIORIZADAS">Priorizadas</span>
        </md-button>

        <md-button class="item" aria-label="Realizadas" translate translate-attr-aria-label="TAREFAS.MINHAS-TAREFAS.REALIZADAS"
                   ng-click="vm.toggleFilterWithEmpty('completed')"
                   ng-class="{'selected':vm.taskFilters.completed}">
            <md-icon md-font-icon="icon-check" class="s16"></md-icon>
            <span class="title" translate="TAREFAS.MINHAS-TAREFAS.REALIZADAS">Realizadas</span>
        </md-button>

        <div class="item subheader" translate="TAREFAS.MINHAS-TAREFAS.ROTULOS">
            Rótulos
        </div>

        <md-button class="tag item" aria-label="tag {{tag.label}}" ng-repeat="tag in vm.tags"
                   ng-click="vm.toggleTagFilter(tag)"
                   ng-class="{'selected':vm.isTagFilterExists(tag)}">
            <md-icon md-font-icon="icon-label" class="s16" ng-style="{'color' : tag.color}"></md-icon>
            <span class="title">{{tag.label}}</span>
        </md-button>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->