/**
 * Coloque todas as customizações de estilos aqui. Em tempo de build o gulp utilizará
 * SASS para préprocessá-las e transformá-las em CSS, gerando o arquivo 
 * "/tmp/style.css"
 *
 * @author Rodrigo Barreiros
 *
 * @since 1.0.0
 * @since 06.07.2015
 * 
 * @see gulpfile.js
 */
 
body {
    /**
     * Apenas um exemplo...
     * 
     * background-color: black !important;
     */ 
}

.force-pointer {
	cursor: pointer;
}

.my-drop-zone {
	border: dotted 3px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 180px;
	background-image: url("/theme/custom/img/dropzone.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.my-drop-zone-single {
	border: dotted 1px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 360px;
	background-image: url("../img/dropzone_stf_sem_arraste.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.nv-file-over { 
	border: dotted 3px red; 
}

.another-file-over-class {
	border: dotted 3px green;
}

.page-container .header {
	background-color: #fff;
}

.notification-center .notification-panel .notification-body {
	overflow: auto;
	max-height: 500px;
}

#ministros-impedidos [left-list-rows] select[multiple] {
	height : 203px !important;
}

.login-wrapper {
	background-color: #3b4752;
}

#mainContainer {
	height: 100%;
}

.actions-wrapper {
	padding-top: 20px;
	padding-left: 20px;
}

.panel-body.actions-enabled {
	padding-top: 0px;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after {
    display : none;
}

.ui-sortable-helper {
    display: table;
}

.center-block-table {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.line-through{
	text-decoration: line-through;
}