<div class="content" ng-controller="EnvioProcessoController as envio">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Enviar Processos</p>
					</li>
					<li><a href="#" class="active">Envio</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		
    	<form>
           	<div class="row">
            	<div class="col-md-6">
            		<div class="card share" data-social="item" style="width: 100%; padding: 10px">
            			<div class="row">
            				<p>Processo Eletrônico</p>
            			</div>
	            		<div class="row">
	                    	<div class="col-md-6">
				        		<div class="form-group form-group-default required">
				                	<label>Classe</label>
				                	<select ui-select2 id="classe" ng-model="envio.classe" ng-change="envio.carregarPreferencias()" data-placeholder="Selecione a Classe Definitiva" style="width: 320px;">
	                                	<option value=""></option>
	                                	<option ng-repeat="classe in envio.classes" value="{{classe.sigla}}">{{classe.nome}} ({{classe.sigla}})</option>
	                            	</select>
				            	</div>
				        	</div>
				        	<div class="col-md-6">
				            	<div class="form-group form-group-default">
				                	<label>Sigilo</label>
				                 	<select ui-select2 id="sigilo" ng-model="envio.sigilo" data-placeholder="Selecione o sigilo" style="width: 450px;">
	                                	<option value=""></option>
	                                	<option ng-repeat="sigilo in envio.sigilos" value="{{sigilo.codigo}}">{{sigilo.nome}}</option>
	                            	</select>
				            	</div>
				        	</div>
					     </div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group form-group-default">
							         <label>Recurso</label>
							         <input type= "text" class="form-control" id="recuso" ng-model="envio.recurso" placeholder="Informe o recurso"></input>
							      </div>
							</div>
							<div class="col-md-8">
								<div class="form-group form-group-default">
									<label>Preferencia</label>
									<select ui-select2 id="preferencia" ng-model="envio.preferenciasSelecionadas" data-placeholder="Selecione uma preferência" multiple="multiple" style="width: 320px;">
										<option value=""></option>
										<option ng-repeat="preferencia in envio.preferencias" value="{{preferencia.codigo}}">{{preferencia.descricao}}</option>
									</select>
							     </div>
							</div>
						</div>
			        </div>
			    </div>
				<div class="col-md-6">
            		<div class="card share" data-social="item" style="width: 100%; padding: 10px">
            			<div class="row">
            				<p>Origens Relacionados</p>
            			</div>
	            		<div class="row">
	                    	<div class="col-md-12">
				        		<div class="form-group form-group-default required">
				                	<label>Procedência</label>
				                	<select ui-select2 id="classe" ng-model="envio.procedencia" ng-change="envio.carregarOrigens()" data-placeholder="Selecione a procedência" style="width: 100%;">
	                                	<option value=""></option>
	                                	<option ng-repeat="procedencia in envio.procedencias" value="{{procedencia.id}}">{{procedencia.nome}} </option>
	                            	</select>
				            	</div>
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-md-8">
				            	<div class="form-group form-group-default">
				                	<label>Tribunal ou Juízo de Origem</label>
				                 	<select ui-select2 id="origem" ng-model="envio.origem" data-placeholder="Selecione a origem" style="width: 450px;">
	                                	<option value=""></option>
	                                	<option ng-repeat="origem in envio.origens" value="{{origem.codigo}}">{{origem.nome}}</option>
	                            	</select>
				            	</div>
				        	</div>
				        	<div class="col-md-4">
								<div class="form-group form-group-default">
							         <label>Número</label>
							         <input type= "text" class="form-control" id="numeroOrigem" ng-model="envio.numeroOrigem" placeholder="Informeo numero da origem"></input>
							      </div>
							</div>
					     </div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group form-group-default">
							         <label>Origens</label>
							         
							      </div>
							</div>
							
						</div>
			        </div>
			    </div>
            </div>
          
			<p>
				<action-executor id="autuar-recursal-criminal-eleitoral" resources="autuacao.recursos" fn-validate="autuacao.validar"
					fn-result="autuacao.completar" btn-class="btn btn-complete btn-cons m-t-10" enable="autuacao.tarefa.dono" description="Autuar Processo Criminal">
				</action-executor>
			</p>
		</form>
	</div>
</div>

