<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Modelos</p>
					</li>
					<li><a href="#" class="active">Criação</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<form>
			<div class="row">
				<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title=""
							data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Tipo do modelo</h5>
						</div>
						<div class="card-description">
                        	<select ui-select2 id="tipoModelo" ng-model="cmc.modelo.tipoModelo" data-placeholder="Selecione o tipo do modelo" style="width: 450px;" autofocus>
								<option value=""></option>
								<option ng-repeat="tipoModelo in cmc.tiposModelo" value="{{tipoModelo.id}}">{{tipoModelo.descricao}}</option>
							</select> 
						</div>
					</div>
				</div>
                <div class="col-md-6">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="circle" data-toggle="tooltip" title=""
                            data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Nome do modelo</h5>
                        </div>
                        <div class="card-description">
							<input type="text" id="nomeModelo" name="nomeModelo" class="form-control" ng-model="cmc.modelo.nome" size="30" autocomplete="off" placeholder="Nome do modelo"> 
                        </div>
                    </div>
                </div>
			</div>
			<br />
			<p>
    			<action-executor id="criar-modelo" resources="cmc.recursos" fn-validate="cmc.validar"
	 				fn-result="cmc.completar" btn-class="btn btn-complete btn-cons m-t-10" description="Criar" />
 			</p>
		</form>
	</div>
</div>
