<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Modelos</p>
					</li>
					<li><a href="#" class="active">Edição de Conteúdo</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div ng-if="ecmc.documento" editor="ecmc.documento" api="ecmc.editor.api" edicao-concluida="ecmc.concluiuEdicao()" aguardar-conclusao="false"></div>
				</div>
			</div>
			<br />
			<p>
				<input type="button" class="btn btn-complete btn-cons m-t-10" value="Finalizar" ng-click="ecmc.finalizar()"> 
 			</p>
		</form>
	</div>
</div>
