<div class="content" ng-controller="DevolucaoController as devolucao">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Petições</p>
					</li>
					<li><a href="#" class="active">Devolução</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div tarefa-actions processo="devolucao.processoWorkflowId" tarefa="tarefa"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                        <label>Tipo de Devolução</label>
                                        <select ui-select2 id="tipoDevolucao" ng-model="devolucao.tipoDevolucao" class="full-width">
                                            <option value=""></option>
                                            <option ng-repeat="tipoDevolucao in devolucao.tiposDevolucao" value="{{tipoDevolucao.id}}">{{tipoDevolucao.nome}}</option>
			                            </select>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Número do Ofício</label>
                                        <input id="numero" type="number" ng-model="devolucao.numeroOficio" class="form-control" autofocus="autofocus" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8" ng-show="devolucao.tagsCarregadas() && !devolucao.showEditor">
                <div class="panel panel-default">
                	<div class="panel-heading text-center">
						<div class="panel-title">
							{{devolucao.modelo.tipoModelo.descricao}} - {{devolucao.modelo.nome}} - Tags
						</div>
					</div>
                    <div class="panel-body">
                        <form role="form">
	                        <div class="row" ng-repeat="tag in devolucao.tags">
                                <div class="col-md-12">
									<div class="form-group form-group-default">
										<label>{{tag.nome}}</label>
										<input id="tag-{{$index}}" type="text" ng-model="tag.valor" class="form-control" autocomplete="off" />
		                            </div>
		                        </div>
		                    </div>
		                    <button class="btn btn-primary btn-cons m-t-10" ng-click="devolucao.gerarTexto()">Gerar Texto</button>
						</form>
                    </div>
                </div>
            </div>
		</div>
		<div class="row" ng-show="devolucao.showEditor">
			<div class="col-md-12" style="height: 700px;">
				<div onlyoffice-editor="devolucao.config" src="{{devolucao.document.src}}"
					title="{{devolucao.document.name}}"
					callback-url="{{devolucao.document.callbackUrl}}"
					save="devolucao.save(url, close)" id="onlyoffice-editor">
				</div>
			</div>
		</div>
		<p>
			<action-executor id="devolver-peticao" resources="devolucao.recursos" fn-validate="devolucao.validar" fn-result="devolucao.completar"
				btn-class="btn btn-complete btn-cons m-t-10" enable="tarefa.dono" />
		</p>
	</div>
</div>
